" To track Action-IDs
" :action VimFindActionIdAction

" Leader map guide
" e  → Explorer / Project
" f  → Files / Search
" g  → Goto / Git
" c  → Code / Refactor / Comment
" m  → Make / Build / Run
" t  → Tests / Terminal
" s  → Search / Actions / Symbols

let mapleader=" "
let maplocalleader="\\"

set relativenumber
set scrolloff=4
set shiftround
set ignorecase
set smartcase
set nowrap
set backspace=indent,eol,start
set timeoutlen=400
set clipboard+=unnamedplus

set NERDTree

" =========================================================
" Navigation and Window Management
" =========================================================
nmap <C-h> <C-w>h
nmap <C-j> <C-w>j
nmap <C-k> <C-w>k
nmap <C-l> <C-w>l

nmap <A-k> <Action>(MoveLineUp)
nmap <A-j> <Action>(MoveLineDown)

nmap <leader>-       <C-w>s
nmap <leader>\|      <C-w>v
nmap <leader><space> <Action>(GotoFile)
nmap <leader>/       <Action>(FindInPath)       

nmap <leader>fr      <Action>(RecentFiles)
nmap <leader>fn      <Action>(NewElementSamePlace)

nnoremap <leader>e  :NERDTreeToggle<CR>
nnoremap <leader>ep :action ActivateProjectToolWindow<CR>

nmap <leader>so <Action>(ShowSettings)
nmap <leader>sv <Action>(IdeaVim.ReloadVimRc.reload)

" =========================================================
" Code Intelligence
" =========================================================
nmap gd     <Action>(GotoDeclaration)
nmap gy     <Action>(GotoTypeDeclaration)
nnoremap gi :action GotoImplementation<CR>
nmap gr     <Action>(FindUsages)

nmap <leader>a :action AIAssistant.Editor.AskAiAssistantInEditor<CR>

nmap <leader>cr <Action>(RenameElement)
nmap <leader>ca <Action>(ShowIntentionActions)
